/* Anterior 
h1 {
    background-color: #555;
    color: #fff;
    position: absolute;
    top: 300px;
    left: 40%;
    font-size: 100px;
}
.fundoVermelho {
    background-color: red;
}
#textoPrincipal {
    background-color: blue;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.negrito {
    font-weight: bold;
}
*/
body,
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(53, 53, 53);
    color: #fff;
}

#conteudo {
    margin: 15px;
    margin: 10px;
    padding: 10px 0px;
}

.navbar {
    align-items: center;
}

#navegacao-navbar * {
    border-radius: 3.5px;
    display: flex;
    padding: 10px;
    margin: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: rgba(0, 26, 255, 0.5);
}